<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Books Found</title>
       {%load static%}
    <link rel="stylesheet" href="{% static 'no_book.css' %}">
    </head>
    
    <body>
        <div class="message-container">
            <h1>You haven't uploaded any books yet!</h1>
            <h1>UPLOAD YOUR FIRST BOOOK</h1>
            
            <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="upload-link">Upload Book</button>
</form>
        </div>
    </body>
</html>